################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore bin and obj directories recursively
**/bin/
**/obj/

# Ignore .vs directory (Visual Studio specific)
**/.vs/

# Additional rules if needed for specific files or directories

